{{ define "main" }}
<div class="doc">
  <article class="doc__main">
    <ul class="breadcrumb">
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li>{{ .Title }}</li>
    </ul>
    
    <header class="doc__header">
      <h1>{{ .Title }}</h1>
      {{ with .Description }}
      <p class="lede">{{ . }}</p>
      {{ end }}
    </header>
    
    <div class="prose">
      {{ .Content }}
    </div>
  </article>
  
  <aside class="doc__toc">
    <h4>On This Page</h4>
    <nav id="TableOfContents">
      {{ .TableOfContents }}
    </nav>
  </aside>
</div>
{{ end }}
